<header class="header">
  <div class="header__content header__content--fix-width">
    <div class="header__logo-title">PORTEFEUILLE FUTÉ</div>
    <nav class="header__menu">                                                                   
      <ul>
        {{- range $i, $e := $.Site.Data.menu.main -}}
        <li class="{{- if .submenu -}}menu-item-has-children{{- end -}}"><a class="{{ if eq $i 0 }}selected {{ end }}header-link" href="#{{- .link -}}">{{- .fr -}}</a>
          {{- if .submenu -}}
          <ul class="sub-menu">
            {{- range .links -}}
            <li><a href="#{{- .link -}}" class="header-link">{{- .fr -}}</a></li>
            {{- end -}}
          </ul>
          {{- end -}}
        </li>
        {{ end }}
        <li class="header__btn header__btn--login"><a href="https://app.portefeuillefute.ca/login" target="_blank" rel="noopener noreferrer">CONNEXION</a></li>
        <li class="header__btn header__btn--signup"><a href="https://app.portefeuillefute.ca/register" target="_blank" rel="noopener noreferrer">CRÉER UN COMTPE</a></li>      
      </ul>
    </nav> 
  </div>    
</header>
